@import url(https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap);

/* Palette used: https://colorhunt.co/palette/f9f7f7dbe2ef3f72af112d4e */

body{
  background-color: #F9F7F7;
  font-family: 'Space Grotesk', sans-serif;
  text-align: left;
  margin: 50px 10%;
}
ul{
  list-style-type: none;
  padding: 0;
}
.logo-div{
  text-align: center;
  margin: auto;
}
.logo{
  width: 220px;
}

.App * {
  box-sizing: border-box;
}

p {
  margin: 5px 0;
}

.display-none {
  display: none;
}

.group-name {
  text-transform: uppercase;
  font-size: 14px;
}

.name {
  font-size: 18px;
  font-weight: 600;
}

.group-name {
  text-transform: uppercase;
  font-size: 14px;
}

.going,
.visibility {
  font-style: italic;
}

.description {
  overflow-x: hidden;
}

.button-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  font-family: sans-serif;
}

.Alert {
  position: fixed;
  top: 20px;
}

.data-vis-wrapper {
  display: flex;
  align-items: left;
  flex-direction: row;
}
.data-vis-wrapper .recharts-responsive-container {
  min-width: 50%;
  display: flex;
}

@media screen and (max-width: 890px) {
 body{
   margin: 40px 5%;
 }
 .data-vis-wrapper .recharts-responsive-container {
  min-width: 100%;
  display: flex;
}
.data-vis-wrapper {
  flex-direction: column;
}
}

@media screen and (min-width: 1200px) {
  body{
    margin: 50px 20%;
  }
}